 

 *{
    margin: 0;
    padding: 0;
 }
 html{
    height: 100%; 
 }

 body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
 }
 

 /* ------------------------------------------------------------------------------TOUS LES LIENS------------------------------------------------------------------------------*/
 a{
    text-decoration: none;
 }

 

 
 /* ------------------------------------------------------------------------------TOUS LES INPUT-----------------------------------------------------------------------------*/
 input {
    outline: none;

 }

/* ------------------------------------------------------------------------------PAGE DU SITE------------------------------------------------------------------------------*/
 .page{
  
   padding-bottom: 50px;
   /* position:relative; */
}

.page-accueil-acteurs{
  width: 95%; 
   margin: auto;
}

/* ------------------------------------------------------------------------------HEADER DE TOUTES LES PAGES------------------------------------------------------------------------------*/
 .header{
    padding-bottom: 20px;
    background-color: #0c0c0cc2;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

 .header img{
     border: 1px black solid;
      height: 110px;  
     width: 110px;
     border-radius: 30px;
     background-color: white;
     margin: 20px 0  0 20px;
 }


/* ------------------------------------------------------------------------------FORMULAIRE PAGE DE CONNEXION------------------------------------------------------------------------------*/

#conteneur-formulaire-connexion {
    margin: 190px auto;
    text-align: center;
    border-radius: 30px;
    box-shadow: 12px 12px 12px 12px rgba(255, 0, 0, 0.993); 
    padding: 20px 20px; 
    width: 800px;
    background-color: white;
}

#formulaire-connexion h1 {
    margin: 15px 0 25px 0;
}

#formulaire-connexion p {
    border-bottom: 1px red solid;
    padding-bottom: 15px;
    margin: 15px 0 15px 0;
}

#formulaire-connexion input {
    margin:  auto; 
    text-align: center;
    padding: 15px;  
    border-radius: 24px;
}

#nom-utilisateur-connexion {
    width: 90%;
}

#mdp-connexion {
    width: 90%;
}
#boutton-formulaire-connexion-connecter {
    color: white;
    background-color: red;
    opacity: 0.8;
    border: none;
    width: 60%;
}

#boutton-formulaire-connexion-connecter:hover {
    background-color:rgba(255, 16, 16, 0.925);
}

#boutton-formulaire_connexion-creer-compte {
    color: white;
    background-color: red;
    opacity: 0.8;
    border: none;
    width: 60%;
}

#boutton-formulaire_connexion-creer-compte:hover {
    background-color:rgba(255, 16, 16, 0.925);
}

/* ------------------------------------------------------------------------------FORMULAIRE PAGE D'INSCRIPTION------------------------------------------------------------------------------*/
#conteneur-formulaire-inscription {
    margin: 105px auto;
    text-align: center;
    border-radius: 30px;
    box-shadow: 12px 12px 12px 12px rgba(255, 0, 0, 0.993); 
    padding: 20px 20px; 
    width: 800px;
    background-color: white;
}

#conteneur-formulaire-inscription h1 {
    margin: 10px 0 15px 0;
}

.label-inscription {
    font-size: 25px;   
}

.champs  {
    margin:  auto; 
    text-align: center;
    padding: 15px;  
    border-radius: 24px;
    margin-bottom: 5px;
    width: 540px;
}

#boutton-formulaire-inscription {
    color: white;
    background-color: red;
    opacity: 0.8;
    border: none;
    width: 60%;
    padding: 15px;  
    border-radius: 24px;
}


/* ------------------------------------------------------------------------------FORMULAIRE DE RETROUVEZ COMPTE------------------------------------------------------------------------------*/
#conteneur-formulaire-retrouvez-compte{
    margin: 105px auto;
    text-align: center;
    border-radius: 30px;
    box-shadow: 12px 12px 12px 12px rgba(255, 0, 0, 0.993); 
    padding: 20px 20px; 
    width: 800px;
    background-color: white;
}

#formulaire-retrouvez-compte h2 {
    margin: 15px 0 20px 0;
}

#formulaire-retrouvez-compte input{
    margin:  auto; 
    text-align: center;
    padding: 15px;  
    border-radius: 24px;
    margin: 15px;
}

#label-verification-compte{
    font-size: 25px;
}

#verification {
    width: 80%;
}

#boutton-verification-compte{
    color: white;
    background-color: red;
    opacity: 0.8;
    width: 450px;
    border: none;  
 }

 /* ------------------------------------------------------------------------------FORMULAIRE DE VERIFICATION REPONSE------------------------------------------------------------------------------*/
#conteneur-formulaire-verification-reponse {
    margin: 160px auto;
    text-align: center;
    border-radius: 30px;
    box-shadow: 12px 12px 12px 12px rgba(255, 0, 0, 0.993); 
    padding: 20px 20px 0 0; 
    width: 800px;
    background-color: white;
}

#conteneur-formulaire-verification-reponse h2 {
    margin: 15px 0 20px 0;
}

#formulaire-verification-reponse input {
    padding: 15px;  
    border-radius: 24px;
}

#formulaire-verification-reponse p {
    border-bottom: 1px red solid;
    padding-bottom: 10px;
    margin: 15px 0 15px 0;
}


.label-verification-reponse{
    font-size: 23px;
}


#champ-verification-reponse{
    padding: 15px;  
    border-radius: 24px;
    margin-bottom: 5px;
    width: 540px;
}

#boutton-formulaire-verification-reponse {
    color: white;
    background-color: red;
    opacity: 0.8;
    width: 450px;
    border: none;
}


#boutton-formulaire-verification-reponse:hover {
    background-color:rgba(255, 16, 16, 0.925);
}
 /* ------------------------------------------------------------------------------FORMULAIRE DE CHANGER MOT DE PASSE------------------------------------------------------------------------------*/
 #conteneur-formulaire-changer-mdp {
    margin: 160px auto;
    text-align: center;
    border-radius: 30px;
    box-shadow: 12px 12px 12px 12px rgba(255, 0, 0, 0.993); 
    padding: 20px 20px; 
    width: 800px;
    background-color: white;
}

#conteneur-formulaire-changer-mdp h2 {
    margin: 15px 0 20px 0;
}

#formulaire-changer-mdp input{
    padding: 15px;  
    border-radius: 24px;
    margin-bottom: 15px;
    margin-bottom: 30px;
}

.champ_mdp {
    padding: 15px;  
    border-radius: 24px;
    width: 540px;   
    margin-bottom: 500px;
}

.label-changer-mdp {
    font-size: 25px;
}

#boutton-formulaire-changer_mdp {
    color: white;
    background-color: red;
    opacity: 0.8;
    width: 450px;
    border: none;
}


 /* ------------------------------------------------------------------------------PAGE DE ACCUEIL ------------------------------------------------------------------------------*/

#menu{
    align-items: center;
    display: flex;
}

#menu a{
   display: flex;
   margin-left: 35px;
   color: white; 
}

.icone-profil{
    font-size: 40px;
    margin-right: 20px;   
}

#menu p{
    font-size: 30px;
    /* margin: 0; */
 }

.icone-deconnexion{
    font-size: 40px;
    margin-right: 20px;
}

#conteneur-acteurs{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    padding: 15px 15px 5px 15px;
    margin-bottom: 50px;
}
#conteneur-acteurs h2{
    text-align: center;
    margin-bottom: 30px;
}
#conteneur-acteurs p{
    font-size: 25px;
    text-align: center;
}
#presentation{
    text-align: center;
    margin: auto;
    margin: 50px 0 50px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}

#presentation h1{
    padding-top: 20px;
    font-size: 35px;
    margin-bottom: 20px;
}

#presentation h3{
    font-size: 25px;
}

#presentation p{
    font-size: 25px;
}

 #presentation img{
   width: 95%;
   margin: 10px 0 10px 0;
} 

#acteurs{
    display: flex;  
    /* height: 200px; */
    position: relative;
    margin: 30px 0 30px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#acteurs img{
     height: 130px;
     width: 300px;
     /* padding-right: 30px;
     padding-left: 30px; */
     padding: 0 30px 0 30px ;
     margin: 35px auto;
     align-items: center; 
}

#acteurs h3{
    font-size: 30px;
    margin-top: 20px;
}

#button-acteurs{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    background-color: red;
    opacity: 0.8;
    border: none;
    padding: 15px;  
    border-radius: 24px;
} 

/* ------------------------------------------------------------------------------PAGE DE PROFIL ------------------------------------------------------------------------------*/
.icone-page-profil{
    font-size: 60px;
    padding: 10px 0 10px 20px;
 
}
#nom-du-profil{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    width: 50%;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

#nom-du-profil h2{
    margin-left: 20px;
}

.a-propos-de-moi{
    align-items: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    width: 50%;
    height: 150px; 
    margin-top: 30px;
    margin-bottom: 30px;
}
 .a-propos-de-moi h2{
    margin-left: 20px;
    margin-bottom: 20px;
} 

.a-propos-de-moi p{
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#button-profil{
    display: flex;
    justify-content: space-around;
    padding: 40px 0 40px 0;
}

#button-page-de-profil{
    right: 20px;
    bottom: 20px;
    width: 600px;
    font-size: 20px;
    color: white;
    background-color: red;
    opacity: 0.8;
    border: none;
    padding: 15px;  
    border-radius: 24px;
}

#button-profil a :hover{
    background-color:rgba(255, 16, 16, 0.925);
}


/* ------------------------------------------------------------------------------PAGE DE MODIFICATION DE PROFIL ------------------------------------------------------------------------------*/
#page-modification{
    background-color: red;
}

#page-modification h1{
    padding: 15px 0 15px 0;
    text-align: center;
    color: white;
    margin: auto;
   
}


#conteneur-formulaire-modification{
    margin: 86px auto;
    text-align: center;
    border-radius: 30px;
    box-shadow: 12px 12px 12px 12px rgba(255, 0, 0, 0.993); 
    padding: 20px 20px; 
    width: 800px;
    background-color: white;
}

#formulaire-modification input{
    margin:  auto; 
    text-align: center;
    padding: 15px;  
    border-radius: 24px;   
    margin-bottom: 10px;
}

.label-formulaire-modification{
    font-size: 23px;
}

.champ-modification-profil {
    width: 500px;
    margin-bottom: 20px;
}

#button-modification{
    margin-top: 50px;
    width: 300px;
    color: white;
    background-color: red;
    opacity: 0.8;
    border: none;
}
/* ------------------------------------------------------------------------------PAGE DES PARTENAIRES------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------PRESENTATION DES PARTENAIRES------------------------------------------------------------------------------*/
    .conteneur-page-partenaires{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    padding: 15px 15px 5px 15px;
    align-items: center;
    margin-top: 30px;
    }

    .conteneur-image-partenaires{
        text-align: center;
    }

    .conteneur-page-partenaires h2{
        text-align: center;
        margin-bottom: 30px;
    }

    .conteneur-page-partenaires p{
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }

  

/* ------------------------------------------------------------------------------SECTION DE COMMENTAIRE------------------------------------------------------------------------------*/
    .section_formulaire{
    margin-bottom: 50px;
    }

    .conteneur-commentaire{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
        padding: 15px 15px 5px 15px;
        align-items: center;
        margin-top: 30px;   
    } 
    
    .conteneur-commentaire input{
        margin:  auto; 
        text-align: center;
        padding: 20px;  
        border-radius: 24px;
    }

    .conteneur-commentaire-like{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
        margin-bottom: 40px;
     
    }
    .conteneur-commentaire-like p{
        font-size: 40px;
    }

    .conteneur-form-commentaire{
        text-align: center;
        padding-bottom: 20px;
    }
  

    .form-commentaire{
        width: 95%;
        margin-top: 30px;
        height: 200px;
       align-items: center;
       margin-bottom: 20px;
    }

    
    .submit-form{
        color: white;
        background-color: black;
        opacity: 0.8;
        border: none;
        margin-bottom: 200px;
    }
         /* -----------------------BOUTTON DE NOUVEAU COMMENTAIRE ET LIKES/DISLIKES-----------------------*/
    .bouton_commentaires_like{
        display:flex;
    }

    .nouveau_commentaire{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
        padding: 25px 25px 25px 25px;
        align-items: center;
        margin-top: 30px;
        margin-right: 30px;
        border-radius: 24px;
    }

    .bouton_commentaires{
        color: white;
        background-color: black;
        opacity: 0.8;
        border: none;    
    }

          /* -----------------------LIKES-----------------------*/
    .likes{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    padding: 35px;
    margin-top: 30px;
    border-radius: 24px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    }

    .likes i{
    font-size: 35px;
    }
    .likes_commentaires{
        color: blue;
    }
    
    .dislikes_commentaires {
        color: red;
    }
    .numero-like-dislike{
        font-size: 25px;
    }
        /* -----------------------COMMENTAIRES-----------------------*/
    .commentaires {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
        padding: 35px;
        margin-top: 30px;
        border-radius: 24px;
        width: 90%;
        margin: auto;
        margin-top: 20px;    
    }

    .commentaires h3{
       font-size: 30px;
    }

    .commentaires label {
        font-size: 20px;
    }

    .commentaires p {
        font-size: 20px;
    }
  
 /* ------------------------------------------------------------------------------FOOTER DE TOUTES LES PAGES------------------------------------------------------------------------------*/
 footer{
    background-color: #0c0c0cc2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
width: 100%;
    position:absolute;
    bottom:0;
    margin-top: 450px;
    
}

footer p {
    font-size: 20px;
    border-left: 2px white solid;
    margin: 0 5px 0 5px;
    color: white; 
    padding: 0 10px 0 10px; 
}

#contactfooter{
    border-right: 2px white solid;
    padding-right: 10px;
}
 
/* ------------------------------------------------------------------------------  RESPONSIVE, MOBILE ------------------------------------------------------------------------------*/
/* @media screen and (min-width: 280px) and (max-width: 680px)   */
@media screen    and (max-width: 580px)  
{ 
   
    /* PAGE DE CONNEXION */
    #conteneur-formulaire-connexion  {
        margin: 30px auto;
        width: 75%;
    }


    /* PAGE D'INSCRIPTION */
    #conteneur-formulaire-inscription {
        margin: 30px auto;
        width: 75%;
    }

    .champs {
        width: 85px;
    }

    #boutton-formulaire-inscription {
        width: 100px;
    }


    /* PAGE VERIFICATION DE COMPTE */
    #conteneur-formulaire-retrouvez-compte {
        width: 80%;
    }

    #boutton-verification-compte {
        width: 180px;
    }


    /* PAGE VERIFICATION REPONSE */
    #conteneur-formulaire-verification-reponse {
        margin: 30px auto;
        width: 80%;
    }
    
    #formulaire-verification-reponse p {
        font-size: 23px;
    }
    
    #champ-verification-reponse{
        width: 120px;
    }
    
    #boutton-formulaire-verification-reponse {
        width: 120px;
    }
    

    /* PAGE CHANGER MOT DE PASSE */
    #conteneur-formulaire-changer-mdp {
        margin: 30px auto;
        width: 80%;
    }
    
    #conteneur-formulaire-changer-mdp h2 {
        margin: 15px 0 20px 0;
    }
    
    .champ_mdp {
        padding: 15px;  
        border-radius: 24px;
        width: 90px;   
    }
    
    #boutton-formulaire-changer_mdp {
        width: 120px;  
        white-space: normal;
    }


    /* Page d'accueil */
    .header {
        text-align: center;
        display: block;
    }

    .header img{
        height: 90px;  
        width: 90px;
        margin-bottom: 20px;
    }
    
    #menu {
     justify-content: center;
    }

     #menu a {
      text-align: center; 
    } 

    #menu p {
        font-size: 25px;
    }

    .icone-profil{
        font-size: 25px;
        margin: auto;
        display: block;
        margin-right: 20px;
    }

    .icone-deconnexion {
         font-size: 25px;
    }
    
   #acteurs{
        height: 400px;   
        display: block;
    }

    #acteurs img {
        padding: 0;
        width: 200px;
    }

    #image-partenaires {
        text-align: center;
    }


    #acteurs h3{
        font-size: 23px;
        margin-top: -20px;
        margin-left: 15px;
    }

   

    /* PAGE PARTENAIRE */
   
   
    .conteneur-image-partenaires img {
        width: 285px;
    }

    .conteneur-commentaire-like {
        display: block;
    }

    .likes {
        margin: auto;
        box-shadow: none;
        padding: 0;
        display: block;
      text-align: center;
    }

    .likes i {
        margin-left: 10px;
    }

    .nouveau_commentaire {
        margin: 0;
        padding: 25px 0 25px 10px;
        box-shadow: none;
    }

  
    .bouton_commentaires {
        width: 110px;
        white-space: normal;
    } 

   
    .bouton_commentaires_like {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
        width: 100%;
        margin-top: 10px;    
    }
  
    .commentaires {
        width: 75%;
    }

    /* PAGE DE PROFIL */

    #nom-du-profil {
        /* background-color: red; */
        width: 90%;
    }

    .a-propos-de-moi {
        width: 90%;
    }
    .a-propos-de-moi p {
        font-size: 20px;
    }


    #button-page-de-profil {
        width: 250px;
    }

    /* PAGE DE MODIFICATION DE PROFIL */
    #conteneur-formulaire-modification {
        width: 80%;
    }
    #formulaire-modification input {
        width: 100px;
    }

    #button-modification {
        /* width: 150px; */
       
        white-space: normal;
    }

   


     
    
    
    
     
    } 


    /* Tablette */
    @media screen and (min-width: 580px) and (max-width: 1024px) {

        /* PAGE DE CONNEXION */
        #conteneur-formulaire-connexion  {
            width: 80%;
        }

        #conteneur-formulaire-connexion  a{
            font-size: 20px;
        }

        #formulaire-connexion input{
            font-size: 20px;
        }

           /* PAGE D'INSCRIPTION */
    #conteneur-formulaire-inscription {
        width: 80%;
    }

    .champs {
        width: 300px;
    }

    #boutton-formulaire-inscription {
        font-size: 20px;
    }

    
    /* PAGE VERIFICATION DE COMPTE */
    #conteneur-formulaire-retrouvez-compte {
        width: 80%;
    }

    #formulaire-retrouvez-compte input {
        font-size: 20px;
    }


    /* PAGE VERIFICATION REPONSE */
    #conteneur-formulaire-verification-reponse {
        width: 80%;
    }

  

    #formulaire-verification-reponse input {
        font-size: 20px;
    }
    
    #formulaire-verification-reponse p {
        font-size: 23px;
    }
    
    #champ-verification-reponse{
        width: 350px;
    }


     /* PAGE CHANGER MOT DE PASSE */
     #conteneur-formulaire-changer-mdp {
        width: 80%;
    }
    
    .champ_mdp {
        width: 400px;   
    }
    
    #boutton-formulaire-changer_mdp {
        font-size: 20px;
    } 
    

    /* PAGE D'ACCUEIL */

    #button-acteurs {
        bottom: 15px;
    }

    #acteurs{
        height: 300px;   
        /* display: block; */
    }

    #acteurs h3 {
        font-size: 25px;
    }

    /* PAGE ACTEURS */
    .likes {
        width: 130px;
    }

    .conteneur-commentaire input {
        width: 130px;
        white-space: normal;
        font-size: 15px;
    }

    .nouveau_commentaire {
        padding: 15px;
    }

    /* PAGE DE PROFIL */

    #conteneur-formulaire-modification {
        width: 80%;
    }

    #formulaire-modification input {
        width: 400px;
    }

    #button-modification {
        font-size: 16px;
    }

    .champ-modification-profil {
        font-size: 20px;
    }

    }